<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF測試.Properties.Settings.job_arrangeConnectionString" connectionString="data source=&quot;C:\Users\如一日\Google 雲端硬碟\我的程式\WPF測試\job_arrange.db&quot;" providerName="System.Data.SQLite.EF6"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
